<nav style="color: black; font-weight: bolder;" class="navbar navbar-expand-lg navbar-light">
    <!-- fixed-top -->
    <div class="container gx-4 px-lg-5">
        <a class="navbar-brand"  routerLink="/home">Blogging Website</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto  py-2 py-lg-0" style="color: black; font-weight: bolder;">
                <li><a class="nav-link px-lg-3 py-3 py-lg-2" routerLink="/login">Login</a></li>
                <li><a class="nav-link px-lg-3 py-3 py-lg-2" routerLink="/home">Home</a></li>
                <!-- <li><a class="nav-link px-lg-3 py-3 py-lg-2" routerLink="/about">About</a></li> -->
                <!-- <li><a class="nav-link px-lg-3 py-3 py-lg-2" routerLink="/post/details">Details</a></li> -->
                <li><a class="nav-link px-lg-3 py-3 py-lg-2" routerLink="/contact">Contact</a></li>
                <li><a class="nav-link px-lg-3 py-3 py-lg-2" routerLink="/register">Register</a></li>
                <li><button class="btn btn-info py-lg-2" routerLink="/create-update-post">Create Post</button></li>
            </ul>
        </div>
    </div>
</nav>
