<div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card shadow">
          <div class="card-title text-center border-bottom">
            <h2 class="p-3">Login</h2>
          </div>
          <div class="card-body">
            <form class="mb-4 mt-5" [formGroup]="registerForm">
              <div class="mb-4">
                <label for="username" class="form-label">Username/Email</label>
                <input type="text" class="form-control" id="username" formControlName = "username"/>
              </div>
              <div class="mb-4">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" formControlName = "password"/>
              </div>
              
              <div class="d-grid">
                <button type="button" (click)="onsubmit()" class="btn text-dark">Login</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>