
    <!-- Footer-->
    <footer class="">
        <div class="container-fluid px-4 px-lg-5  bg-primary">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8">
                    <ul class="list-inline text-center">
                        <li class="list-inline-item">
                            <a style="font-weight: bolder;color: rgb(29, 27, 27);" href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                                <!-- <i class="bi bi-whatsapp"></i> -->

                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a style="font-weight: bolder;color: rgb(29, 27, 27);" href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                                </span>
                                <!-- <i class="bi bi-github"></i> -->
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a style="font-weight: bolder;color: rgb(29, 27, 27);" href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                                </span>

                                <!-- <i class="bi bi-facebook"></i> -->
                            </a>
                        </li>
                    </ul>
                    <div style="font-weight: bolder;color: #FFF" class="text-center ">Copyright
                        &copy;
                        Mohmed Nabil BlogSite
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer -->